/* 
* {
    padding: 0px;
    margin: 0px;
    /* background-color: rgb(70, 71, 73); */
}
.time {
    width: 100%;
    display: flex;
    text-align: center;
    justify-items: center;
    /* background: red; */
    font-family: cursive;
    text-transform: capitalize;
}

.timedate {
    width: 50%;
    height: 400px;
    background: #042d78;
}

.Weather {
    width: 50%;
    height: 400px;
    background: red;
}

.button{
    --background-color: #528af0;
    --background-color-dark: #042d78;

    display: inline-block;
    margin: 10px 30px;
    padding: 10px 16px;
    font-family: 'Boogaloo', cursive;
    font-size: 24px;
    color: aqua;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--background-color);
    box-shadow: 6px 6px 0px var(--background-color-dark);

}
.button:active {
    transform: translateX(2px) translateY(2px);
    box-shadow: 4px 4px 0 var(--background-color-dark);
}

 
